@import url('https://fonts.googleapis.com/css2?family=Georama&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&display=swap');
*{
	scroll-behavior: smooth;
}
body{
	margin: 0 auto;
	padding: 0;
	font-family: 'Georama', sans-serif;
	background:  #0f0f0f;
}
.header{
	background: #0f0f0f;
	padding: 20px 200px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	color: white;
	display: flex;
	align-items: center;
}
.logo__name{
	text-decoration: none;
	margin: 0 0 0 20px;
	font-size: 20px;
	font-family: 'Georama', sans-serif;
	color: white;
}
.right-side{
	display: flex;
	
}
.find{
	display: flex;
	align-items: center;
	background: #4d4d4d;
	padding: 0;
	border-radius: 5px;
}
.find__field{
	background: #4d4d4d;
	color: white;
	padding: 10px 20px;
	border: 0;
	border-radius: 5px;
	outline: 0;
}
.find__field:focus{
	width: 400px;
}
.find__field::placeholder{
	color: #a8a7a7;
}
.find__search_button{
	background: none;
	cursor: pointer;
	border: 0;
	width: 50px;
	border-left: 1px solid #a8a7a7;
}
.find__search_img{
	fill: #a8a7a7;
	width: 20px;
}
.user svg{
	width: 20px;
	fill: white;
}
.user svg:hover{
	fill: grey;
}
.navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #0f0f0f;
	border-top: 1px solid #4d4d4d;
	padding: 0 200px;
}
.elements{
	margin: 0;
	padding: 25px 0;
	display: flex;
	align-items: center;
	list-style-type: none;
}
.elements__img{
	fill: #a8a7a7;
	width: 25px;
}
.links__elements_element{
	text-decoration: none;
	color: #a8a7a7;
	font-size: 18px;
	display: flex;
	text-align: center;
	align-items: center;
	margin: 0 25px 0 0;
}
.links__elements_element:hover{
	color: white;
}
.links__elements_element:hover svg{
	fill: white;
}
.links__elements_element:hover ul{
	display: block;
	position: absolute;
}
.userdrop{
	z-index: 999;
	position: absolute;
	right: 0px;
	display: none;
	background: white;
	width: 300px;
	list-style-type: none;
	padding: 0px 20px 20px 50px;
	text-align: left;
	margin: 20px 0 0 0 ;
	border-radius: 5px;
}
.drop{
	z-index: 999;
	position: absolute;
	display: none;
	background: white;
	width: 300px;
	list-style-type: none;
	padding: 0px 20px 20px 50px;
	text-align: left;
	margin: 20px 0 0 0 ;
	border-radius: 5px;
}
.auth{
	position: absolute;
	display: none;
	background: white;
	width: 300px;
	list-style-type: none;
	padding: 0px 20px 20px 50px;
	text-align: left;
	margin: 118px 0 0 0 ;
	border-radius: 5px;
}
.button-auth a{
	text-decoration: none;
}
.button-entrance{
	background: #0081fa;
	border: 0;
	border-radius: 2px;
	width: 100%;
	font-size: 15px;
	padding: 15px 0;
	text-decoration: none;
	transition: 0.2s;
}
.button-entrance a{
	color: white;
	font-weight: bold;
}
.button-entrance:hover{
	background: #0264bf;
}
.button-registration{
	background: white;
	border: 0;
	border-radius: 2px;
	width: 100%;
	font-size: 15px;
	padding: 15px 0;
	text-decoration: none;
	margin-top: 5px;
	transition: 0.2s;
}
.button-registration a{
	color: #0081fa;
	font-weight: bold;
}
.button-registration:hover{
	background: #f2f2f2;
}
.drop__category a{
	text-decoration: none;
	color: #0f0f0f;
}
.drop__category:hover a{
	color: #a8a7a7;
}
.drop__category:not( :first-child){
	margin: 10px 0 0 0;
}
.showDrop{
	display: block;
}
.info img{
	width: 100%;
	height: 800px;
	opacity: 0.4;
	position: relative;
	z-index: -1;
}
.info__title{
	font-size: 50px;
	color: white;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 550px;
}
.info__slogan{
	font-size: 20px;
	color: white;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 650px;
}
.info__arrow{
	width: 50px;
	height: 50px;
	border-right: 1px solid #a8a7a7;
	border-bottom: 1px solid #a8a7a7;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 890px;
	rotate: 45deg;
	transition: 0.4s;
}
.info__arrow:hover{
	top: 893px;
	transition: 0.3s;
}
.info__text{
	padding: 20px 500px 20px 200px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	color: white;
}
.electro{
	margin-top: 50px;
	padding: 0px 200px 20px 200px;
}
.text-with-button{
	display: flex;
	flex-direction: column;
}
.button{
	width: 150px;
	padding: 7px 20px;
	background: #3C3C3C;
	color: white;
	border: 0;
	font-size: 16px;
	margin-top: 15px;
	cursor: pointer;
	transition: 0.2s;
}
.button a{
	text-decoration: none;
	color: white;
}
.button:hover{
	background: #2d2e2d ;
}
.electro__text{
	border-bottom: 1px solid white;
	display: inline-block;
	padding: 0 0 5px 0;
}
.electro__title{
	color: white;
	margin: 0;
}
.electro__eqsTitle{
	color: white;
	font-size: 30px;
}
.electro__eqs{
	display: flex;
}
.electro__eqs img{
	width: 50%;
	margin: 0 30px 0 0;
}
.electro__eqs_describe{
	color: white;
}
.electro__blackMerc_title{
	color: white;
	font-size: 30px;
	margin: 80px 0 40px 0;
}
.electro__blackMerc{
	display: flex;
}
.electro__blackMerc img{
	width: 50%;
	margin: 0 0 0 100px;
}
.electro__black_merc_describe{
	color: white;
}
.hybrid__text{
	border-bottom: 1px solid white;
	display: inline-block;
	margin: 100px 0 0 0;
	padding: 0 0 5px 0;
}
.hybrid__title{
	color: white;
	margin: 0;
}
.hybrid__hybridTitle{
	color: white;
	font-size: 30px;
}
.hybrid__plug{
	display: flex;
}
.hybrid__plug img{
	width: 50%;
	margin: 0 100px 0 0;
}
.hybrid__plug_describe{
	color: white;
}
.tools__text{
	border-bottom: 1px solid white;
	display: inline-block;
	margin: 100px 0 0 0;
	padding: 0 0 5px 0;
}
.tools__title{
	color: white;
	margin: 0;
}
.tools__toolsTitle{
	color: white;
	font-size: 30px;
}
.tools__hometools{
	display: flex;
}
.tools__hometools img{
	width: 50%;
	margin: 0 0 0 100px;
}
.tools__hometools_describe{
	color: white;
}
.future__text{
	border-bottom: 1px solid white;
	display: inline-block;
	margin: 100px 0 0 0;
	padding: 0 0 5px 0;
}
.future__title{
	color: white;
	margin: 0;
}
.future__futureTitle{
	color: white;
	font-size: 30px;
}
.future__progress{
	display: flex;
}
.future__progress img{
	width: 50%;
	margin: 0 100px 0 0;
}
.future__progress_describe{
	color: white;
}
.electro__arrow{
	margin: 40px 0 40px 0;
	width: 30px;
	height: 30px;
	border-left: 1px solid #a8a7a7;
	border-top: 1px solid #a8a7a7;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	top: 50px;
	rotate: 45deg;
	transition: 0.3s;
}
.electro__arrow:hover{
	top: 47px;
	transition: 0.3s;
}
footer{
	border-top:1px solid #a8a7a7 ;
	padding: 40px 200px;
	color: white;
	display: flex;
	justify-content: space-between;
}
footer img{
	width: 30px;
}
@media(max-width: 1600px){
	.electro{
		padding: 0px 100px 20px 100px;
	}
	.info__text{
		padding: 20px 100px 20px 100px;
	}

}
@media(max-width: 1300px){
	.info img{
		height: 600px;
	}
	.info__title{
		top: 350px;
	}
	.info__slogan{
		top: 450px;
	}
	.info__arrow{
		top: 650px;
	}
	.header{
		padding: 20px 100px;
	}
	.userdrop{
		margin: 20px 100px 0 0 ;
	}
	.navbar{
		padding: 0 100px;
	}
	footer{
		padding: 40px 100px;
	}
}
@media(max-width: 1200px){
	.electro__eqs{
		flex-direction: column;
		align-items: start;
		align-items: center;
	}
	.electro__text{
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	.electro__eqsTitle{
		text-align: center;
		font-size: 22px;
	}
	.electro__eqs img{
		width: 400px;
		margin: 0;
	}
	.electro__eqs_describe{
		text-align: center;
	}
	.text-with-button{
		align-items: center;
	}
	.electro__blackMerc_title{
		text-align: center;
		font-size: 22px;
	}
	.electro__blackMerc{
		flex-direction: column;
		align-items: center;
	}
	.electro__blackMerc img{
		margin: 20px 0 0 0 ;
		width: 400px;
	}
	.electro__black_merc_describe{
		text-align: center;
	}
	.hybrid__hybridTitle{
		text-align: center;
		font-size: 22px;
	}
	.hybrid__text{
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	.hybrid__plug{
		flex-direction: column;
		align-items: center;
	}
	.hybrid__plug img{
		margin: 0;
		width: 400px;
	}
	.hybrid__plug_describe{
		text-align: center;
	}
	.tools__text{
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	.tools__toolsTitle{
		text-align: center;
		font-size: 22px;
	}
	.tools__hometools{
		flex-direction: column;
		align-items: center;
	}
	.tools__hometools_describe{
		text-align: center;
	}
	.tools__hometools img{
		margin: 0;
		width: 400px;
	}
	.future__text{
		position: relative;
		left: 50%;
		transform: translateX(-50%);
	}
	.future__futureTitle {
		text-align: center;
		font-size: 22px;
	}
	.future__progress{
		flex-direction: column;
		align-items: center;
	}
	.future__progress img{
		margin: 0;
		width: 400px;
	}
	.future__progress_describe{
		text-align: center;
	}
}
@media(max-width: 900px){
	.info img{
		height: 400px;
	}
	.info__title{
		font-size: 40px;
		top: 270px;
	}
	.info__slogan{
		font-size: 16px;
		top: 350px;
	}
	.info__arrow{
		width: 30px;
		height: 30px;
		top: 500px;
	}
	.info__arrow:hover{
		top: 503px;
		transition: 0.3s;
	}
}
@media(max-width: 800px){
	.info__text{
		padding: 20px 40px 20px 40px;
		text-align: center;
		font-size: 14px;
	}
	.electro{
		padding: 0px 20px 20px 20px;
	}
	.electro img{
		width: 300px;
	}
}
@media(max-width: 768px){
	.info img{
		height: 400px;
	}
	.info__title{
		font-size: 30px;
		top: 340px;
	}
	.info__slogan{
		font-size: 12px;
		top: 400px;
	}
	footer{
		margin-top: 1px;
		padding: 40px 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.links__elements_element{
		font-size: 14px;
	}
	.elements__img{
		width: 25px;
	}
	.logo__name{
		font-size: 15px;
	}
	.find__search_button{
		width: 25px;
	}
	.find__search_img{
		width: 15px;
	}
	.header{
		padding: 20px 40px;
	}
	.find__field{
		width: 100px;
	}
	.find__field{
		padding: 5px 10px;
	}
	.find__field:focus{
		width: 100px;
	}
}
@media(max-width: 650px){
	.info img{
		height: 250px;
	}
	.info__title{
		font-size: 25px;
		top: 225px;
	}
	.info__slogan{
		font-size: 10px;
		top: 275px;
	}
	.info__arrow{
		width: 30px;
		height: 30px;
		top: 350px;
	}
	footer{
		margin-top: 1px;
		padding: 40px 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.links__elements_element{
		font-size: 14px;
	}
	.elements__img{
		width: 25px;
	}
	.navbar{
		padding: 0 40px;
	}
	.elements{
		padding: 5px 0;
	}
	.drop{
		left: 50%;
		transform: translateX(-50%);
		padding: 20px 25px;
		width: 250px;
	}
	.userdrop{
		margin: 0;
		left: 50%;
		transform: translateX(-50%);
		padding: 20px 25px;
		width: 250px;
	}

}
@media(max-width: 500px){
	.info__title{
		font-size: 20px;
		top: 235px;
	}
	.info__slogan{
		font-size: 10px;
	}
	.news__card_img{
		width: 260px;
		height: 175px;
	}
	.content{
		padding: 20px 20px;
	}
	.navbar{
		padding: 0 5px;
	}
	.header{
		padding: 20px 5px;
	}
	.links__elements_element{
		font-size: 11px;
		margin: 0 15px 0 0;
	}
	.logo__name{
		font-size: 10px;
		margin: 0 0 0 5px ;
	}
	footer p{
		font-size: 10px;
	}
	.electro{
		padding: 0px 0 20px 0;
	}
	.info__slogan{
		text-align: center;
	}
	.info__title{
		font-size: 18px;
	}
}


